<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2020 CIn AI. </p>
      <p>We are part of the <a href="http://www3.cin.ufpe.br/">Centro de Informática</a> at <a href="https://www.ufpe.br">Universidade Federal de Pernambuco</a>.</p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">

		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Phone: + 55 81 2126 8430 <br />
		  contato@cin.ufpe.br <br />
		  Recife, PE, Brazil <br />
            <a href="https://goo.gl/maps/zxCDiBVyabaubWSd7">Maps</a>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
